<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Pedidos
            <span class="no-margin genre-label margin-hori-10-5"
                style=" background-color: #230031;  margin-bottom: 5px; border-color: #3f0058; ">
                {{dataOrders.length}}
            </span></h4>
        <hr class="m-t-0" />
        <form>
            <div class="form-group form-inline pd-10-l">
                <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="searchValue"
                    (ngModelChange)="filterByProviderName($event)" placeholder="Nombre del cliente"
                    class="form-control ml-2" type="text" />
                <i class="pd-10-l fas fa-search"></i>

                <!-- Filtrar por estado -->
                <div ngbDropdown class="d-inline-block">
                    <button class="outline-btn btn btn-outline-secondary ma-l-70" id="dropdownBasic1" ngbDropdownToggle>
                        <span *ngIf="payMethodSelected.length == 0">Todos los pagos</span>
                        <span *ngIf="payMethodSelected == 'Tarjeta'">Tarjeta</span>
                        <span *ngIf="payMethodSelected == 'Transferencia electronica'">Transferencia electronica</span>
                        <span *ngIf="payMethodSelected == 'Puntos de pago'">Puntos de pago</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="changePayMethodSelected('')" ngbDropdownItem>
                            Todos los pagos
                        </button>
                        <button (click)="changePayMethodSelected('Tarjeta')" ngbDropdownItem>
                            Tarjeta
                        </button>
                        <button (click)="changePayMethodSelected('Transferencia electronica')" ngbDropdownItem>
                            Transferencia electronica
                        </button>
                        <button (click)="changePayMethodSelected('Puntos de pago')" ngbDropdownItem>
                            Puntos de pago
                        </button>
                    </div>
                </div>

                <!-- Filtrar por estado -->
                <!-- <div ngbDropdown class="d-inline-block">
                    <button class="outline-btn btn btn-outline-secondary ma-l-70" id="dropdownBasic1" ngbDropdownToggle>
                        <span *ngIf="statusSelected == -1">Todos los estados</span>
                        <span *ngIf="statusSelected == 0">Cancelada</span>
                        <span *ngIf="statusSelected == 1">En espera de pago Conecta</span>
                        <span *ngIf="statusSelected == 2">En espera de pago por transferencia electronica</span>
                        <span *ngIf="statusSelected == 3">Error de pago</span>
                        <span *ngIf="statusSelected == 4">Reembolsado</span>
                        <span *ngIf="statusSelected == 5">Pedido entregado</span>
                        <span *ngIf="statusSelected == 6">En transito</span>
                        <span *ngIf="statusSelected == 7">Preparando Pedido</span>
                        <span *ngIf="statusSelected == 8">Pago Realizado</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="changeStateSelected(-1)" ngbDropdownItem>
                            Todos
                        </button>
                        <button (click)="changeStateSelected(0)" ngbDropdownItem>
                            Cancelada
                        </button>
                        <button (click)="changeStateSelected(1)" ngbDropdownItem>
                            En espera de pago Conecta
                        </button>
                        <button (click)="changeStateSelected(2)" ngbDropdownItem>
                            En espera de pago por transferencia electronica
                        </button>
                        <button (click)="changeStateSelected(3)" ngbDropdownItem>
                            Error de pago
                        </button>
                        <button (click)="changeStateSelected(4)" ngbDropdownItem>
                            Reembolsado
                        </button>
                        <button (click)="changeStateSelected(5)" ngbDropdownItem>
                            Pedido entregado
                        </button>
                        <button (click)="changeStateSelected(6)" ngbDropdownItem>
                            En transito
                        </button>
                        <button (click)="changeStateSelected(7)" ngbDropdownItem>
                            Preparando Pedido
                        </button>
                        <button (click)="changeStateSelected(8)" ngbDropdownItem>
                            Pago Realizado
                        </button>
                    </div>
                </div> -->

                <!-- Modificar cantidad de desplegados -->
                <div ngbDropdown class="d-inline-block">
                    <button class="outline-btn btn btn-outline-secondary ma-l-70" id="dropdownBasic1" ngbDropdownToggle>
                        No. Pedidos {{ pageSize }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="pageSize = 5">5</button>
                        <button ngbDropdownItem (click)="pageSize = 10">10</button>
                        <button ngbDropdownItem (click)="pageSize = 15">15</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class="card-body p-t-0 p-r-0">
                        <div class="chat-box p-r-15" style="position: relative;">
                            <!-- ITEMS -->

                            <div class="">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="row">
                                            <th scope="col" class="col-1 full-centered">ID</th>
                                            <th scope="col" class="col-2 full-left">Cliente</th>
                                            <th scope="col" class="col-2 full-left">Destino</th>
                                            <th scope="col" class="col-1 full-left">Total</th>
                                            <th scope="col" class="col-1 full-centered">Pago</th>
                                            <th scope="col" class="col-2 full-centered">Estado</th>
                                            <th scope="col" class="col-1 full-centered">Fecha</th>
                                            <th scope="col" class="col-1 full-centered">No. <i
                                                    class="fas fa-boxes"></i></th>
                                            <th scope="col" class="col-1 full-centered">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <div >
                                            <div *ngFor='let text of many2' [innerHtml]='text'></div>
                                        </div> -->
                                        <tr class="row" *ngFor="
                                            let order of dataOrdersFiltered
                                                | slice
                                                : (page - 1) * pageSize
                                                : (page - 1) * pageSize + pageSize;
                                            index as i
                                            ">

                                            <th scope="col" class="col-1 full-centered">
                                                {{order.idOrder}}
                                            </th>
                                            <th scope="col" class="col-2 full-left">
                                                {{order.nameClient}}
                                            </th>
                                            <th scope="col" class="col-2 full-left">
                                                {{order.destinationCity}}
                                            </th>
                                            <th scope="col" class="col-1 full-left">
                                                $ {{order.total}}
                                            </th>
                                            <th scope="col" class="col-1 full-centered">
                                                <label *ngIf="order.paymentMethod == 'Tarjeta'"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #1d3099;  margin-bottom: 5px;">
                                                    Tarjeta
                                                </label>
                                                <label *ngIf="order.paymentMethod == 'Transferencia electronica'"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #2392a1;  margin-bottom: 5px;">
                                                    Transferencia electronica
                                                </label>
                                                <label *ngIf="order.paymentMethod == 'Puntos de pago'"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #23a12e;  margin-bottom: 5px;">
                                                    Puntos de pago
                                                </label>
                                            </th>

                                            <th scope="col" class="col-2 full-centered">
                                                <label class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #d3d3d3;  margin-bottom: 5px; font-size: 0.6rem;">
                                                    {{order.lastStatus}}
                                                </label>
                                                <!-- <label *ngIf="order.lastStatus == 0"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #a15523;  margin-bottom: 5px;">
                                                    Cancelada
                                                </label>
                                                <label *ngIf="order.lastStatus == 1"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #236fa1;  margin-bottom: 5px;">
                                                    En espera de pago Conecta
                                                    
                                                </label>
                                                <label *ngIf="order.lastStatus == 2"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #3023a1;  margin-bottom: 5px;">
                                                    En espera de pago por transferencia electronica
                                                </label>
                                                <label *ngIf="order.lastStatus == 3"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #a12323;  margin-bottom: 5px;">
                                                    Error de pago
                                                </label>
                                                <label *ngIf="order.lastStatus == 4"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #a1238c;  margin-bottom: 5px;">
                                                    Reembolsado
                                                </label>
                                                
                                                <label *ngIf="order.lastStatus == 5"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #0f249b;  margin-bottom: 5px;">
                                                    Pedido entregado
                                                </label>
                                                <label *ngIf="order.lastStatus == 6"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #afac00;  margin-bottom: 5px;">
                                                    En transito
                                                </label>
                                                <label *ngIf="order.lastStatus == 7"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #174646;  margin-bottom: 5px;">
                                                    Preparando Pedido
                                                </label>
                                                <label *ngIf="order.lastStatus == 8"
                                                    class="row no-margin genre-label margin-hori-10-5"
                                                    style=" background-color: #164d1a;  margin-bottom: 5px;">
                                                    Pago Realizado
                                                </label> -->
                                            </th>
                                            <th scope="col" class="col-1 full-centered">
                                                {{utilitiesService.formatDate1(order.date)}}
                                            </th>
                                            <th scope="col" class="col-1 full-centered">
                                                {{order.noPackage}}
                                            </th>

                                            <th scope="col" class="col-1 full-centered">
                                                <button (click)="openOrder(order.idOrder)"
                                                    class="btn mr-0 btn-outline-secondary" type="button">
                                                    <i class="fas fa-search-plus"></i>
                                                    Ver
                                                </button>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col" style="text-align: right;">
                                        <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                            [collectionSize]="dataOrdersFiltered.length"
                                            style="width: -webkit-fill-available; text-align: right;"
                                            class="justify-end">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>