<div class="card-group">
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-danger">
                        <i class="ti-mobile text-white"></i>
                    </span>
                </div>
                <div>
                    Visitas
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{usersToday}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-warning">
                        <i class="ti-world text-white"></i>
                    </span>
                </div>
                <div>
                    En linea
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{onlineUsers}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-success">
                        <i class="ti-shopping-cart text-white"></i>
                    </span>
                </div>
                <div>
                    Carritos Activos
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{bagActive}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-success">
                        <i class="ti-money text-white"></i>
                    </span>
                </div>
                <div>
                    Total Ventas
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{totalSales}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Column -->
</div>