<app-info-card 
    [onlineUsers]="users"
    [usersToday]="usersToday"
    [totalSales]="totalSales"
    [bagActive]="bagActive"
    ></app-info-card>
<app-sales-income
    [radarChartData]="radarChartData"
    [radarChartLabels]="radarChartLabels"
    [chartGenresCountData]="chartGenresCountData"
    [chartSalesYearData]="chartSalesYearData"
></app-sales-income>
<app-top-selling-products [top10SoldProducts]="top10SoldProducts"></app-top-selling-products>

<div class="row">
    <div class="col-6">
        <app-recent-comments [reviewsDataFixed]="reviewsDataFixed"></app-recent-comments>
    </div>
    <div class="col-6">
        <app-reviews-stats [totalProd]="reviewsDataFixed.length" [negativeReviews]="negativeReviews"
        [neutralReviews]="neutralReviews"
        [positiveReviews]="positiveReviews"></app-reviews-stats>
    </div>
</div>