
<div class="card">
    <!-- TITLE -->
    <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center" >
        <div class="row full-width">
            <div class="col-6 full-centered full-left">
                <div class="text-white m-b-0 m-l-15 font-18"><i class="fas fa-user"></i>
                    Cliente
                </div>
            </div>
            <div class="col-6 full-right">
                <button type="button" class=" btn mr-0 button-delete-client" aria-label="Eliminar" (click)="openModalConfirmDeleteDirection()">
                    <!-- <span aria-hidden="true">&times;</span> -->
                    <i class="fas fa-trash"></i>
                    Eliminar Cliente
                </button>
            </div>
        </div>
        <!-- <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-user"></i>
            Cliente
        </div> -->
        
    </div>
    <div class="">
        <div class="card-body row">
            <div class="col-12">
                <div class=" p-t-0 p-r-0">
                    <div class=" p-r-15" style="position: relative;">
                        <!-- ITEMS -->
                        <div class="">
                            <!-- <h4 class="card-title">Requirements</h4> -->
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="idnom" class="control-label col-form-label">* Nombre</label>
                                        <input [(ngModel)]="customer.name" type="text" class="form-control" id="idnom" placeholder="Escriba su nombre aqui">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="insur" class="control-label col-form-label">* Apellidos</label>
                                        <input [(ngModel)]="customer.surnames" type="text" class="form-control" id="insur" placeholder="Escriba sus apellidos aquí">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="inele" class="control-label col-form-label">* Correo Electrónico</label>
                                        <input [(ngModel)]="customer.email" type="text" class="form-control" id="inele" placeholder="Escriba un email valido aquí">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="infech" class="control-label col-form-label">Fecha de nacimiento</label>
                                       <!--  <input [(ngModel)]="customer.birthDay"  type="date" class="form-control" >
                                        <input [(ngModel)]="customeBirthDay" (change)="setBirthDay()" type="date" id="infech" class="form-control"> -->
                                        <div class="input-group">
                                            <input 
                                                [(ngModel)]="modelCustomerBirthDay"
                                                id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" (click)="dp.toggle();" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <!-- <pre>Model: {{ modelCustomerBirthDay | json }}</pre> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="inputcom" class="control-label col-form-label">* Teléfono</label>
                                        <input [(ngModel)]="customer.phone"  type="text" class="form-control" id="inputcom" placeholder="Company Here">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-form-label">Genero</label>
                                        <div ngbDropdown class="">
                                            <button
                                              class="form-control"
                                              id="dropdownGenre"
                                              ngbDropdownToggle
                                            >
                                                <span *ngIf="customer.genre == 3">Niña</span>
                                                <span *ngIf="customer.genre == 2">Niño</span>
                                                <span *ngIf="customer.genre == 1">Mujer</span>
                                                <span *ngIf="customer.genre == 0">Hombre</span>
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownGenre">
                                                <button ngbDropdownItem (click)="customer.genre = 3">Niña</button>
                                                <button ngbDropdownItem (click)="customer.genre = 2">Niño</button>
                                                <button ngbDropdownItem (click)="customer.genre = 1">Mujer</button>
                                                <button ngbDropdownItem (click)="customer.genre = 0">Hombre</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-form-label">Grupo de usuarios</label>
                                        <div ngbDropdown class="">
                                            <button
                                              class="form-control"
                                              id="dropdownUserType"
                                              ngbDropdownToggle
                                            >
                                                <span *ngIf="customer.userType == 2">Cliente</span>
                                                <span *ngIf="customer.userType == 1">Proveedor</span>
                                                <span *ngIf="customer.userType == 0">Administrador</span>
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownUserType">
                                                <button ngbDropdownItem (click)="customer.userType = 2">Cliente</button>
                                                <button ngbDropdownItem (click)="customer.userType = 1">Proveedor</button>
                                                <!-- <button ngbDropdownItem (click)="customer.userType = 0">Administrador</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-form-label">Restablecer la Contraseña</label>
                                        <button class="btn mr-0 btn-danger button-reset " type="button">
                                            <div class="row full-centered font-normal">
                                                <i class="fas fa-key ma-0-10"></i> RESTABLECER
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <!-- TITLE -->
    <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center" >
        <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-file-alt"></i>
            Datos Facturación
        </div>
        <!-- <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-user"></i>
            Cliente
        </div> -->
        
    </div>
    <div class="">
        <div class="card-body row">
            <div class="col-12">
                <div class=" p-t-0 p-r-0">
                    <div class=" p-r-15" style="position: relative;">
                        <!-- ITEMS -->
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="idraz" class="control-label col-form-label">* Razón social</label>
                                    <input [(ngModel)]="customer.billingInformation.businessName" type="text" class="form-control" 
                                        id="idraz" placeholder="Nombre de la empresa/ Razón social">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label for="idrfc" class="control-label col-form-label">* RFC</label>
                                    <input [(ngModel)]="customer.billingInformation.rfc" type="text" class="form-control" 
                                        id="idrfc" placeholder="RFC">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label for="idtel3" class="control-label col-form-label">* Teléfono</label>
                                    <input [(ngModel)]="customer.billingInformation.phone" type="text" class="form-control" 
                                        id="idtel3" placeholder="Numero de teléfono">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="inemal2" class="control-label col-form-label">* Correo Electrónico</label>
                                    <input [(ngModel)]="customer.billingInformation.email" type="text" class="form-control" 
                                        id="inemal2" placeholder="Escriba el correo electrónico de la empresa">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label for="inedo2" class="control-label col-form-label">* Estado</label>
                                    <input [(ngModel)]="customer.billingInformation.state" type="text" class="form-control" 
                                        id="inedo2" placeholder="Escriba el estado">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label for="incity2" class="control-label col-form-label">* Ciudad</label>
                                    <input [(ngModel)]="customer.billingInformation.city" type="text" class="form-control" 
                                        id="incity2" placeholder="Escriba la ciudad aquí">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label for="incod2" class="control-label col-form-label">* Código postal</label>
                                    <input [(ngModel)]="customer.billingInformation.postalCode" type="text" class="form-control" 
                                        id="incod2" placeholder="Escriba el código postal aquí">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label for="incol2" class="control-label col-form-label">* Colonia</label>
                                    <input [(ngModel)]="customer.billingInformation.colony" type="text" class="form-control" 
                                        id="incol2" placeholder="Escriba la colonia aqui">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label for="innumber" class="control-label col-form-label">* Numero</label>
                                    <input [(ngModel)]="customer.billingInformation.number" type="text" class="form-control" 
                                        id="innumber" placeholder="Escriba el numero aquí">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="instreet" class="control-label col-form-label">* Calle</label>
                                    <input [(ngModel)]="customer.billingInformation.street" type="text" class="form-control" 
                                        id="instreet" placeholder="Escriba la dirección aquí">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center" >
        <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-home"></i>
            Direcciones
            <span class="no-margin genre-label margin-hori-10-5"
                style=" background-color: #230031;  margin-bottom: 5px; border-color: #3f0058; " >
            2</span>
        </div>
    </div>
    <div class="">
        <!-- <hr class="m-t-0" /> -->
        <div class="card-body row">
            <div class="col-12">
                <div class=" p-t-0 p-r-0">
                    <div class=" p-r-15" >
                        <div class="">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="row">
                                        <th scope="col" class="col-1 full-centered">ID</th>
                                        <th scope="col" class="col-1 full-left">Nombre</th>
                                        <th scope="col" class="col-2 full-left">Apellidos</th>
                                        <th scope="col" class="col-2 full-left">Dirección</th>
                                        <th scope="col" class="col-1 full-left">Default</th>
                                        <th scope="col" class="col-2 full-left">Código postal</th>
                                        <th scope="col" class="col-1 full-left">Ciudad</th>
                                        <th scope="col" class="col-1 full-centered">Estado</th>
                                        <th scope="col" class="col-1 full-centered">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <div >
                                        <div *ngFor='let text of many2' [innerHtml]='text'></div>
                                    </div> -->
                                    <tr class="row" *ngFor=" let direction of customer.directions; index as i " >
                                        <th scope="col" class="col-1 full-centered">
                                            {{direction.idDirection}}
                                        </th>
                                        <th scope="col" class="col-1 full-left">
                                            {{direction.name}}</th>
                                        <th scope="col" class="col-2 full-left">
                                            {{direction.surnames}}</th>
                                        <th scope="col" class="col-2 full-left">
                                            {{direction.street}}</th>
                                        <th scope="col" class="col-1 full-left">
                                            {{direction.default}}</th>
                                        <th scope="col" class="col-2 full-left">
                                            {{direction.postalCode}}</th>
                                        <th scope="col" class="col-1 full-left">
                                            {{direction.city}}</th>
                                        <th scope="col" class="col-1 full-centered">
                                            {{direction.state}}</th>
                                        <th scope="col" class="col-1 full-centered">
                                            <button
                                            (click)="openModalEditDirection(direction)"
                                            class="btn mr-0 btn-outline-secondary"
                                            type="button"
                                            >
                                            <i class="fas fa-edit"></i>
                                            Modificar
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="m-t-0" />
    <div class="card-body">
        <div class="row">
            <div class="col-6 full-left">
                <button (click)="backClicked()" class="btn mr-0 btn-outline-secondary button-options" type="button">
                <div class="row full-centered">
                    <i class="fas fa-window-close "></i>
                </div>
                <div class="row full-centered font-normal">
                    Cancelar
                </div>
                </button>
            </div>
            <div class="col-6 full-right">
                <button class="btn mr-0 btn-outline-secondary button-options" type="button">
                    <div class="row full-centered">
                        <i class="fas fa-save"></i>
                    </div>
                    <div class="row full-centered font-normal">
                        Guardar
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
  
<!-- Modal Direction -->
<ng-template #modalDirection let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Actualizando Dirección</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
        <button type="button" class="close" aria-label="Close" (click)="openModalConfirmDeleteDirection()">
            <!-- <span aria-hidden="true">&times;</span> -->
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idnamem" class="control-label col-form-label">* Nombre</label>
                    <input [(ngModel)]="selectedDirection.name" type="text" class="form-control" id="idnamem" placeholder="Nombre de la persona que recibe">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idsurm" class="control-label col-form-label">* Apellidos</label>
                    <input [(ngModel)]="selectedDirection.surnames" type="text" class="form-control" id="idsurm" placeholder="Escriba sus apellidos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="iddirm" class="control-label col-form-label">* Calle</label>
                    <textarea [(ngModel)]="selectedDirection.street" type="text" class="form-control" id="iddirm" placeholder="Escriba la calle aquí"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="idtelm" class="control-label col-form-label">* Teléfono</label>
                    <input [(ngModel)]="selectedDirection.phone" type="text" class="form-control" id="idtelm" placeholder="Escriba su teléfono">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="idintm" class="control-label col-form-label">* No Interior</label>
                    <input [(ngModel)]="selectedDirection.number"  type="text" class="form-control" id="idintm" placeholder="Numero interior">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="idnoem" class="control-label col-form-label"> No Exterior</label>
                    <input [(ngModel)]="selectedDirection.extNumber"  type="text" class="form-control" id="idnoem" placeholder="Numero exterior">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idestm" class="control-label col-form-label">* Estado</label>
                    <input [(ngModel)]="selectedDirection.state" type="text" class="form-control" id="idestm" placeholder="Company Here">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idcium" class="control-label col-form-label">* Ciudad</label>
                    <input [(ngModel)]="selectedDirection.city" type="text" class="form-control" id="idcium" placeholder="Company Here">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idcolm" class="control-label col-form-label">* Colonia</label>
                    <input [(ngModel)]="selectedDirection.colony" type="text" class="form-control" id="idcolm" placeholder="Company Here">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="idcodm" class="control-label col-form-label">* Código postal</label>
                    <input [(ngModel)]="selectedDirection.postalCode" type="text" class="form-control" id="idcodm" placeholder="Company Here">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label col-form-label">Default</label>
                    <div class="form-check">
                        <div class="custom-control custom-radio" (click)="selectedDirection.default = true;">
                            <input [(checked)]="selectedDirection.default" type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                            <label class="custom-control-label" for="customControlValidation2">Si</label>
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="custom-control custom-radio" (click)="selectedDirection.default = false;">
                            <input [(checked)]="!selectedDirection.default" type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked">
                            <label class="custom-control-label" for="customControlValidation3">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button (click)="modal.close('Save click');" class="btn mr-0 btn-danger button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-window-close ma-0-10"></i> Cancelar
            </div>
        </button>
        <button (click)="modal.close('Save click');setDefaultDirection()" class="btn mr-0 btn-success button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-save  ma-0-10"></i> Guardar
            </div>
        </button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
</ng-template>

<!-- Modal Confirm Delete Direction -->
<ng-template #modalConfirmDirectionDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar Eliminación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button (click)="modal.close('Save click');" class="btn mr-0 btn-danger button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-window-close ma-0-10"></i> Cancelar
            </div>
        </button>
        <button (click)="confirmDeleteDirection(selectedDirection.idDirection)" class="btn mr-0 btn-success button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-trash ma-0-10"></i> Eliminar
            </div>
        </button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
</ng-template>


<!-- Modal Confirm Delete Client -->
<ng-template #modalConfirmDirectionDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar Eliminación del cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button (click)="modal.close('Save click');" class="btn mr-0 btn-danger button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-window-close ma-0-10"></i> Cancelar
            </div>
        </button>
        <button  class="btn mr-0 btn-success button-reset " type="button">
            <div class="row full-centered font-normal">
                <i class="fas fa-trash ma-0-10"></i> Eliminar
            </div>
        </button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
</ng-template>