<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Productos mas vendidos</h4>
                <h5 class="card-subtitle">Descripción general de los artículos más vendidos</h5>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select disabled class="custom-select">
                        <!-- <option value="0" selected>Mensual</option>
                        <option value="1">Diario</option>
                        <option value="2">Semanal</option> -->
                        <option value="3" selected>Anual</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Productos</th>
                    <th class="border-top-0">Proveedor</th>
                    <th class="border-top-0">Genero</th>
                    <th class="border-top-0">Categoría</th>
                    <th class="border-top-0">Ventas</th>
                    <th class="border-top-0">Recaudado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of top10SoldProducts">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <div class="user-pic">
                                    <img *ngIf="product.product.images.length == 0" style="height: 30px;" src="/assets/images/no-image.png"
                                        class="rounded-circle img-fluid">
                                    <img *ngIf="product.product.images.length != 0" style="height: 30px;" [src]="apiDataService.baseURL +
                                    'uploads/product-image/' + product.product.images[0].idProduct + '/' + product.product.images[0].idProductImage"
                                        class="rounded-circle img-fluid">
                                </div>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">{{product.name}}</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{product.product.provider.businessName}}</td>
                    <td>
                        <span *ngIf="product.product.gender == 0"  class="label label-info">Niño</span>
                        <span *ngIf="product.product.gender == 1"  class="label label-purple">Niña</span>
                        <span *ngIf="product.product.gender == 2"  class="label label-info">Mujer</span>
                        <span *ngIf="product.product.gender == 3"  class="label label-purple">Hombre</span>
                    </td>
                    <td>
                        <label class="text-capitalize">{{product.product.category.name}}</label>
                    </td>
                    <td>{{product.totalSales}}</td>
                    <td>
                        <h5 class="m-b-0">${{ product.product.price * product.totalSales }}</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>