<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Productos mas vendidos</h4>
                <h5 class="card-subtitle">Descripción general de los artículos más vendidos</h5>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Mensual</option>
                        <option value="1">Diario</option>
                        <option value="2">Semanal</option>
                        <option value="3">Anual</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Productos</th>
                    <th class="border-top-0">Proveedor</th>
                    <th class="border-top-0">Genero</th>
                    <th class="border-top-0">Categoría</th>
                    <th class="border-top-0">Ventas</th>
                    <th class="border-top-0">Recaudado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-info text-white">EA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite Admin</h4>
                            </div>
                        </div>
                    </td>
                    <td>Single Use</td>
                    <td>Mujer</td>
                    <td>
                        <label class="label label-danger">Angular</label>
                    </td>
                    <td>356</td>
                    <td>
                        <h5 class="m-b-0">$2850.06</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-orange text-white">MA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Monster Admin</h4>
                            </div>
                        </div>
                    </td>
                    <td>Single Use</td>
                    <td>Hombre</td>
                    <td>
                        <label class="label label-info">Vue Js</label>
                    </td>
                    <td>356</td>
                    <td>
                        <h5 class="m-b-0">$2850.06</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-success text-white">MP</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Material Pro Admin</h4>
                            </div>
                        </div>
                    </td>
                    <td>Single Use</td>
                    <td>Mujer</td>
                    <td>
                        <label class="label label-success">Bootstrap</label>
                    </td>
                    <td>356</td>
                    <td>
                        <h5 class="m-b-0">$2850.06</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-purple text-white">AA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Ample Admin</h4>
                            </div>
                        </div>
                    </td>
                    <td>Single Use</td>
                    <td>Mujer</td>
                    <td>
                        <label class="label label-purple">React</label>
                    </td>
                    <td>356</td>
                    <td>
                        <h5 class="m-b-0">$2850.06</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>