<section class="main-landing">
    <div class="background">
        <div class="navagation-bar">
            <nav>
                <div>
                    <img src="/assets/images/w-logo.svg">
                </div>
                <div>
                    <a class="a-link-white" routerLink="/login">Inicia sesión</a>
                </div>
            </nav>
        </div>
        <div class="left-background">
            <div class="left-triangle"></div>
            <div class="yellow-triangle">
                <img src="/assets/images/yellow-triangle.svg">
            </div>
            <div class="blue-triangle">
                <img src="/assets/images/blue-triangle.svg">
            </div>
        </div>
        <div class="right-background">
            <div class="right-triangle"></div>
            <div class="black-triangle">
                <img src="/assets/images/black-triangle.svg">
            </div>
            <div class="phone">
                <img src="/assets/images/vesvir-phone.svg">
            </div>
        </div>
        <div class="text-box">
            <h3 class="fw-400 white-40">¡La mejor App para</h3>
            <h3 class="fw-400 white-40">para encontrar ropa!</h3>
            <p class="white-25 p-t-30">Encuentra siempre lo que estas buscando.</p>
            <div class="p-t-20">
                <button class="transparent-btn">
                    <img src="/assets/images/google-play.png">
                </button>
            </div>
        </div>
    </div>
    <section class="p-t-80 p-b-60">
        <div class="max-width-page">
            <div class="text-al-center">
                <p class="black-25 fw-500">La única aplicación que necesitas</p>
                <p class="blu-20 fw-500">Características</p>
            </div>
            <div class="p-t-30 space-around">
                <div class="card-box">
                    <div class="full-centered">
                        <img src="/assets/images/smile-blu-icon.svg">
                    </div>
                    <div class="text-al-center p-t-20">
                        <p class="black-18 fw-400">Fácil de usar</p>
                    </div>
                </div>
                <div class="card-box">
                    <div class="full-centered">
                        <img src="/assets/images/search-blu-icon.svg">
                    </div>
                    <div class="text-al-center p-t-20">
                        <p class="black-18 fw-400">Encuentra lo que necesitas</p>
                    </div>
                </div>
                <div class="card-box">
                    <div class="full-centered">
                        <img src="/assets/images/hear-blu-icon.svg">
                    </div>
                    <div class="text-al-center p-t-20">
                        <p class="black-18 fw-400">Guarda tus favoritos</p>
                    </div>
                </div>
                <div class="card-box">
                    <div class="full-centered">
                        <img src="/assets/images/dress-blu-icon.svg">
                    </div>
                    <div class="text-al-center p-t-20">
                        <p class="black-18 fw-400">Las mejores marcas</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="text-al-center">
            <p class="black-25 fw-500">¿Cómo funciona?</p>
        </div>
        <section class="background-1">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aperiam deleniti fugit, nihil nostrum, cum
                temporibus doloribus consequuntur numquam molestiae aut illo hic sed, necessitatibus assumenda at
                cupiditate. Dolorum, nemo.
            </div>
        </section>
    </section>
</section>