<section class="main-landing">
    <div class="background">
        <div class="navagation-bar">
            <nav>
                <div>
                    <img src="/assets/images/w-logo.svg">
                </div>
                <div>
                    <a class="a-link-white" routerLink="/login">Inicia sesión</a>
                </div>
            </nav>
        </div>
        <div class="left-background">
            <div class="left-triangle"></div>
            <div class="yellow-triangle">
                <img src="/assets/images/yellow-triangle.svg">
            </div>
            <div class="blue-triangle">
                <img src="/assets/images/blue-triangle.svg">
            </div>
        </div>
        <div class="right-background">
            <div class="right-triangle"></div>
            <div class="black-triangle">
                <img src="/assets/images/black-triangle.svg">
            </div>
            <div class="phone">
                <img src="/assets/images/vesvir-phone.svg">
            </div>
        </div>
        <div class="text-box">
            <h3 class="fw-400 white-40">¡La mejor App para</h3>
            <h3 class="fw-400 white-40">para encontrar ropa!</h3>
            <p class="white-25 p-t-30">Encuentra siempre lo que estas buscando.</p>
            <div class="p-t-20">
                <button class="transparent-btn">
                    <img src="/assets/images/google-play.png">
                </button>
            </div>
        </div>
    </div>
    <section class="p-t-120 p-b-60">
        <div class="max-width-page">
            <div class="text-al-center">
                <p class="black-25 fw-500">La única aplicación que necesitas</p>
                <p class="blu-20 fw-500">Características</p>
            </div>
            <div class="p-t-30 row">
                <div class="col-md-3 col-sm-6 col-12 justify-center p-10-0">
                    <div class="card-box">
                        <div class="full-centered">
                            <img src="/assets/images/smile-blu-icon.svg">
                        </div>
                        <div class="text-al-center p-t-20">
                            <p class="black-18 fw-400">Fácil de usar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 justify-center p-10-0">
                    <div class="card-box">
                        <div class="full-centered">
                            <img src="/assets/images/search-blu-icon.svg">
                        </div>
                        <div class="text-al-center p-t-20">
                            <p class="black-18 fw-400">Encuentra lo que necesitas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 justify-center p-10-0">
                    <div class="card-box">
                        <div class="full-centered">
                            <img src="/assets/images/hear-blu-icon.svg">
                        </div>
                        <div class="text-al-center p-t-20">
                            <p class="black-18 fw-400">Guarda tus favoritos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 justify-center p-10-0">
                    <div class="card-box">
                        <div class="full-centered">
                            <img src="/assets/images/dress-blu-icon.svg">
                        </div>
                        <div class="text-al-center p-t-20">
                            <p class="black-18 fw-400">Las mejores marcas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-b-60">
        <div class="text-al-center">
            <p class="black-25 fw-500">¿Cómo funciona?</p>
        </div>
        <section class="background-1 p-t-80">
            <div class="max-width-page full-centered">
                <div class="row flex-wrap-reverse">
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div>
                            <img class="img-350" src="/assets/images/man-phone-app.svg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div class="m-width">
                            <p class="black-30">Instala la aplicación de <span class="fw-500">Vesvir</span>  en tu dispositivo móvil.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="background-2 p-t-80">
            <div class="max-width-page full-centered">
                <div class="row ">
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div class="m-width">
                            <p class="black-30">Entra a la aplicación y registrate o <span class="text-underline">sigue como invitado</span>.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div>
                            <img class="img-350" src="/assets/images/man-woman-phone.svg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="background-3 p-t-80">
            <div class="max-width-page full-centered">
                <div class="row flex-wrap-reverse">
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div>
                            <img class="img-350" src="/assets/images/woman-reflec-phone.svg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 justify-center p-10-0">
                        <div class="m-width">
                            <p class="black-30">Prueba la ropa de manera fácil, <span class="blu-30">utiliza tu camara</span> para ver como se te vería la ropa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="background-4 p-t-80 p-b-60">
        <div class="max-width-page">
            <div class="text-al-center">
                <p class="black-40">¡Descargala ahora!</p>
            </div>
            <div class="full-centered">
                <button class="transparent-btn">
                    <img src="/assets/images/google-play.svg">
                </button>
            </div>
        </div>
    </section>
    <footer class="footer-box">
        <div class="max-width-page">
            <div class="row">
                <div class="col-md-4 col-12 justify-center p-b-20">
                    <div>
                        <div class="justify-center">
                            <img src="/assets/images/w-logo.svg">
                        </div>
                        <div class="justify-center">
                            <p class="white-25 fw-400">¿Eres proveedor?</p>
                        </div>
                        <div class="justify-center p-t-20">
                            <button class="white-btn" routerLink="/login">Inicia sesión</button>
                        </div>
                    </div>
                </div>
                <div class="invisible-line"></div>
                <div class=" col-md-4 col-12 justify-center p-t-20 p-b-20">
                    <div class="box-align-c">
                        <p class="white-25 fw-400">Información</p>
                        <div class="p-t-30">
                            <a class="a-link-white" routerLink="/about-us">Acerca de nosotros</a>
                        </div>
                        <div class="p-t-20">
                            <a class="a-link-white" routerLink="/faq">Preguntas frecuentes</a>
                        </div>
                        <div class="p-t-20">
                            <a class="a-link-white" routerLink="/terms-conditions">Términos y Condiciones</a>
                        </div>
                    </div>
                </div>
                <div class="invisible-line"></div>
                <div class="col-md-4 col-12 justify-center p-t-20">
                    <div>
                        <div class="box-align-c">
                            <p class="white-25 fw-400">Siguenos en nuestras redes sociales</p>
                        </div>
                        <div class="social-links row p-t-20">
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
</section>