.date-bg{
    background-color: #9E5BA1 !important;
}

.date-font-col{
    color: #9E5BA1 !important;
}

.total-bg{
    background-color: #22c6ab !important;
}

.total-font-col{
    color: #22c6ab !important;
}

.product-bg{
    background-color: #2BA8E3 !important;
}

.product-font-col{
    color: #2BA8E3 !important;
}

