<section>
    <div class="nav-box">
        <div class="navagation-bar">
            <nav>
                <div>
                    <a routerLink="/landing-page">
                        <img class="max-width-140" src="/assets/images/w-logo.svg">
                    </a>
                </div>
                <div>
                    <a class="a-link-white" routerLink="/login">Inicia sesión</a>
                </div>
            </nav>
        </div>
    </div>
    <section class="max-width-page p-t-120 p-b-50">
        <h3 class="blu-20 fw-400">Terminos y Condiciones</h3>
        <h4 class="blu-16">Title</h4>
        <p class="black-16 justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui dolorum architecto voluptatem minus debitis
            dolore iure, assumenda, at accusantium quis. Expedita, autem maiores pariatur temporibus iure earum ea
            quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt deleniti, vero consectetur, iste
            temporibus reiciendis aliquid commodi consequuntur quod culpa ipsum quidem possimus in doloribus quo magni
            cumque itaque dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est, assumenda ea
            nesciunt dolorum ipsum nam sequi ratione. Corrupti eveniet, sint repudiandae ipsam voluptas obcaecati
            mollitia deleniti nemo fuga laborum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
            distinctio quas numquam in, praesentium libero et laboriosam deleniti earum, rem ipsum recusandae doloremque
            perspiciatis molestias omnis repellendus. Minus, facilis hic! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sapiente repellendus repellat incidunt maxime repudiandae obcaecati molestiae dicta eum
            harum eaque voluptatibus enim, dignissimos amet excepturi voluptatum facere, pariatur dolore natus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui dolorum architecto voluptatem minus debitis
            dolore iure, assumenda, at accusantium quis. Expedita, autem maiores pariatur temporibus iure earum ea
            quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt deleniti, vero consectetur, iste
            temporibus reiciendis aliquid commodi consequuntur quod culpa ipsum quidem possimus in doloribus quo magni
            cumque itaque dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est, assumenda ea
            nesciunt dolorum ipsum nam sequi ratione. Corrupti eveniet, sint repudiandae ipsam voluptas obcaecati
            mollitia deleniti nemo fuga laborum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
            distinctio quas numquam in, praesentium libero et laboriosam deleniti earum, rem ipsum recusandae doloremque
            perspiciatis molestias omnis repellendus. Minus, facilis hic! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sapiente repellendus repellat incidunt maxime repudiandae obcaecati molestiae dicta eum
            harum eaque voluptatibus enim, dignissimos amet excepturi voluptatum facere, pariatur dolore natus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui dolorum architecto voluptatem minus debitis
            dolore iure, assumenda, at accusantium quis. Expedita, autem maiores pariatur temporibus iure earum ea
            quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt deleniti, vero consectetur, iste
            temporibus reiciendis aliquid commodi consequuntur quod culpa ipsum quidem possimus in doloribus quo magni
            cumque itaque dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est, assumenda ea
            nesciunt dolorum ipsum nam sequi ratione. Corrupti eveniet, sint repudiandae ipsam voluptas obcaecati
            mollitia deleniti nemo fuga laborum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
            distinctio quas numquam in, praesentium libero et laboriosam deleniti earum, rem ipsum recusandae doloremque
            perspiciatis molestias omnis repellendus. Minus, facilis hic! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sapiente repellendus repellat incidunt maxime repudiandae obcaecati molestiae dicta eum
            harum eaque voluptatibus enim, dignissimos amet excepturi voluptatum facere, pariatur dolore natus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui dolorum architecto voluptatem minus debitis
            dolore iure, assumenda, at accusantium quis. Expedita, autem maiores pariatur temporibus iure earum ea
            quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt deleniti, vero consectetur, iste
            temporibus reiciendis aliquid commodi consequuntur quod culpa ipsum quidem possimus in doloribus quo magni
            cumque itaque dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est, assumenda ea
            nesciunt dolorum ipsum nam sequi ratione. Corrupti eveniet, sint repudiandae ipsam voluptas obcaecati
            mollitia deleniti nemo fuga laborum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
            distinctio quas numquam in, praesentium libero et laboriosam deleniti earum, rem ipsum recusandae doloremque
            perspiciatis molestias omnis repellendus. Minus, facilis hic! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sapiente repellendus repellat incidunt maxime repudiandae obcaecati molestiae dicta eum
            harum eaque voluptatibus enim, dignissimos amet excepturi voluptatum facere, pariatur dolore natus!</p>
    </section>
    <footer class="footer-box">
        <div class="max-width-page">
            <div class="row">
                <div class="col-md-4 col-12 justify-center p-b-20">
                    <div>
                        <div class="justify-center">
                            <img src="/assets/images/w-logo.svg">
                        </div>
                        <div class="justify-center">
                            <p class="white-25 fw-400">¿Eres proveedor?</p>
                        </div>
                        <div class="justify-center p-t-20">
                            <button class="white-btn" routerLink="/login">Inicia sesión</button>
                        </div>
                    </div>
                </div>
                <div class="invisible-line"></div>
                <div class=" col-md-4 col-12 justify-center p-t-20 p-b-20">
                    <div class="box-align-c">
                        <p class="white-25 fw-400">Información</p>
                        <div class="p-t-30">
                            <a class="a-link-white" routerLink="/about-us">Acerca de nosotros</a>
                        </div>
                        <div class="p-t-20">
                            <a class="a-link-white" routerLink="/faq">Preguntas frecuentes</a>
                        </div>
                        <div class="p-t-20">
                            <a class="a-link-white" routerLink="/terms-conditions">Términos y Condiciones</a>
                        </div>
                    </div>
                </div>
                <div class="invisible-line"></div>
                <div class="col-md-4 col-12 justify-center p-t-20">
                    <div>
                        <div class="box-align-c">
                            <p class="white-25 fw-400">Siguenos en nuestras redes sociales</p>
                        </div>
                        <div class="social-links row p-t-20">
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a class="a-link-white fs-30" routerLink="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</section>