<div class="row">
  <div class="card col-2">
    <div class="p-l-10 p-r-10 p-t-10 p-b-10 d-flex align-items-center">
      <div class="row">
        <div class="col-12">
          <div class="input-field m-t-0 m-b-0">
            <label class="form-control border-0" type="text">Información</label>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-t-0" />
    <ul class="mailbox list-style-none">
      <li>
        <div class="" style="height: calc(100vh - 410px);margin: 40px 3px;">
          <div class="row">
            <div class="col-12 full-centered">
              <img *ngIf="actualProduct.images.length == 0" class="image-product" src="assets/images/product/no-image.jpg"
                alt="user" />
              <img *ngIf="actualProduct.images.length != 0" class="image-product"
                [src]="actualProduct.images[0].imageBlob" alt="user" />
            </div>
          </div>

          <!-- REFERENCE -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Referencia</label>
            </div>
            <div class="col-8 full-centered">
              <span *ngIf="actualProduct.referenceCode.length == 0">Sin referencia</span>
              <span *ngIf="actualProduct.referenceCode.length != 0">{{actualProduct.referenceCode}}</span>
            </div>
          </div>
          <!-- Name -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Nombre</label>
            </div>
            <div class="col-8 full-centered text-capitalize">
              <span>{{actualProduct.name}}</span>
            </div>
          </div>
          <!-- CATEGORY -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Categoría</label>
            </div>
            <div class="col-8 full-centered text-capitalize">
              {{actualProduct.category.name}}
            </div>
          </div>
          <!-- GENRES -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Género</label>
            </div>
            <div class="col-8 full-centered">
              <div class="row full-centered margin-hori-10-5">
                <label *ngIf="actualProduct.gender == 0" class="row no-margin genre-label margin-hori-10-5"
                  style="background-color: #2b3de2;margin-bottom: 5px;">
                  Niño
                </label>
                <label *ngIf="actualProduct.gender == 1" class="row no-margin genre-label margin-hori-10-5"
                  style="background-color: blueviolet;margin-bottom: 5px;">
                  Niña
                </label>
              </div>
              <div class="row full-centered margin-hori-10-5">
                <label *ngIf="actualProduct.gender == 2" class="row no-margin genre-label margin-hori-10-5"
                  style="background-color: #e22bc3;margin-bottom: 5px;">
                  Mujer
                </label>
                <label *ngIf="actualProduct.gender == 3" class="row no-margin genre-label margin-hori-10-5"
                  style="background-color: #160e81;margin-bottom: 5px;">
                  Hombre
                </label>
              </div>
            </div>
          </div>
          <!-- UNITS -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Unidades</label>
            </div>
            <div class="col-8 full-centered">
              {{totalQuantities}}
            </div>
          </div>
          <!-- STATE -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label>Estado</label>
            </div>
            <div class="col-8 full-centered">
              <label *ngIf="statusText == 'agotado'" class="row no-margin genre-label margin-hori-10-5"
                style="background-color: #b12d1c; margin-bottom: 5px;">
                Agotado
              </label>
              <label *ngIf="statusText == 'activado'" class="row no-margin genre-label margin-hori-10-5"
                style="background-color: #29852e; margin-bottom: 5px;">
                Activado
              </label>
              <label *ngIf="statusText == 'pausado'" class="row no-margin genre-label margin-hori-10-5"
                style="background-color: #1c44b1; margin-bottom: 5px;">
                Pausado
              </label>
            </div>
          </div>
          <!-- PRICE -->
          <div class="row pd-10-t-b">
            <div class="col-4 full-right">
              <label class="no-margin">Precio</label>
            </div>
            <div class="col-8 full-centered">
              $ {{actualProduct.price.toFixed(2)}}
            </div>
          </div>

          <div class="row pd-10-t-b">
            <div class="col-12 full-centered">
              <a [routerLink]="'/dashboard-admin/provider/'+actualProduct.idProvider" target="_blank"  class="btn mr-0 btn-outline-secondary button-options" type="button">
                <div class="row full-centered">
                  <i class="ti-id-badge"></i>
                </div>
                <div class="row full-centered font-normal">
                  Ver <br>Proveedor
                </div>
              </a>
            </div>
          </div>

          
        </div>
      </li>
    </ul>
  </div>

  <div class="col-10">
    <div class="card">
      <!-- TITLE -->
      <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center">
        <div class="col-6">
          <div class="text-white m-b-0 m-l-15 font-18">
            Añada un nuevo sticker al producto
          </div>
          <!-- <div class="text-white m-b-0 m-l-15 font-20 no-margin">
            <label class="label-images-count">{{ images.length }}</label>
          </div> -->
        </div>
        <div class="col-6">

        </div>

      </div>

      <!-- ADD IMAGE -->
      <div class="card-body border-top">
        <div class="no-margin">
          <div class="form-group no-margin">
            <div class="row">
              <div class="col-4">
                <div class="row full-centered full-right" style="height: 49px; margin-right: 10px;">
                  <div class="input-field m-t-0 m-b-0">
                    <label class="control-label col-form-label form-label">Añadir un nuevo sticker para este
                      producto</label>
                  </div>
                </div>
                <div class="row full-centered full-right" style="height: 49px; margin-right: 10px;">
                  <div class="input-field m-t-0 m-b-0">
                    <label class="control-label col-form-label form-label">
                      <span style="color: red;">*</span>Nombre
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Subir</span>
                    </div>
                    <div class="custom-file">
                      <input (change)="updateSource($event)" type="file" accept="image/png" class="custom-file-input"
                        id="inputGroupFile01" />
                      <label class="custom-file-label" for="inputGroupFile01">Seleccionar
                        archivo JPG</label>
                    </div>
                  </div>
                </div>
                <div class="row full-centered">
                  <input [(ngModel)]="newSticker.name" type="text" class="form-control text-capitalize" maxlength="50"
                    id="maxval" aria-describedby="maxval" placeholder="Nombre del sticker" />
                </div>
              </div>
              <div class="col-3">
                <div class="row full-centered full-width full-height">
                  <div class="col-12 full-width full-height">
                    <span *ngIf="newSticker.source.length == 0" class="card full-centered full-height">
                      <img class=" full-width full-height" style="object-fit: cover;"
                        src="assets/images/product/no-image.jpg" alt="Sin Imagen" />
                    </span>

                    <span *ngIf="newSticker.source.length > 0">
                      <div class="card">
                        <span class="card full-centered" style="
                            background-image: url('assets/images/product/fondo-stiker.jpg');
                            width: fit-content;
                          ">
                          <img *ngIf="newSticker.source.length > 0" class=" full-width full-height"
                            style="object-fit: cover;" [src]="newSticker.source">
                        </span>
                      </div>
                      <div class="full-width full-centered pd-10">
                        <button (click)="cancelImage()" class="btn mr-0 btn-outline-secondary" type="button">
                          <i class="fas fa-trash-alt"></i>
                          Borrar imagen
                        </button>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 full-centered">
                <button (click)="addImage()" type="button" class="btn mr-0 btn-outline-primary">
                  <i class="fas fa-upload"></i> Subir
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr class="m-t-0" />
      <form>
        <div class="form-group form-inline pd-10-l">
          <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="searchValue"
            (ngModelChange)="filterByName($event)" placeholder="Buscar por Titulo" class="form-control ml-2"
            type="text" />
          <i class="pd-10-l fas fa-search"></i>
        </div>
      </form> -->
      <!-- EDIT IMAGES -->
      <div class="card-body p-t-0 p-r-0">
        <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center">
          <div class="text-white m-b-0 m-l-15 font-18">Stickers</div>
          <div class="text-white m-b-0 m-l-15 font-20 no-margin">
            <label class="label-images-count">{{ stickers.length }}</label>
          </div>
        </div>
        <div class="chat-box p-r-15">
          <!-- ITEMS -->
          <div style="height: calc(100vh - 600px); position: relative;" [perfectScrollbar]="config">
            <table class="table table-hover">
              <thead style="position: relative;">
                <div style="position: sticky;top: 0;background: white;z-index: 2;">
                  <tr class="row">
                    <th scope="col" class="col-2 full-centered"></th>
                    <th scope="col" class="col-4 full-left">Nombre</th>
                    <th scope="col" class="col-3 full-centered">Posición</th>
                    <th scope="col" class="col-3 full-centered">Acciones</th>
                  </tr>
                </div>
              </thead>

              <tbody class="dragndrop" [dragula]="'images-list'" [(dragulaModel)]="stickers">

                <!-- <div >
                          <div *ngFor='let text of many2' [innerHtml]='text'></div>
                      </div> -->
                <tr class="row" *ngFor="let image of stickers; index as i">
                  <th scope="col" class="col-2 full-centered">
                    <img [src]="image.imageBlob" class="mr-2" style="width: 40px;" />
                  </th>
                  <th scope="col" class="col-4 full-left">{{ image.name }}</th>
                  <th scope="col" class="col-3 full-centered">
                    <span class="position-selector">
                      <i class="fas fa-arrows-alt pd-10-r"></i>
                      <label class="no-margin shadow-box">
                        {{ image.position + 1 }}
                      </label>
                    </span>
                  </th>
                  <th scope="col" class="col-3 full-centered">
                    <button (click)="deleteStickerProductByID(image.idProductSticker)"
                      class="btn mr-0 btn-outline-secondary" type="button">
                      <i class="fas fa-trash-alt"></i>
                      Borrar sticker
                    </button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <hr class="m-t-0" />
      <div class="card-body">
        <div class="row">
          <div class="col-6 full-left">
            <button (click)="backClicked()" class="btn mr-0 btn-outline-secondary button-options" type="button">
              <div class="row full-centered">
                <i class="fas fa-arrow-circle-left"></i>
              </div>
              <div class="row full-centered font-normal">
                Regresar
              </div>
            </button>
          </div>
          <div class="col-6 full-right">
            <!-- <button class="btn mr-0 btn-outline-secondary button-options" type="button">
              <div class="row full-centered">
                <i class="fas fa-save"></i>
              </div>
              <div class="row full-centered font-normal">
                Guardar
              </div>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>