body, p{
  margin: 0 !important;
}

/* You can add global styles to this file, and also import other style files */
.full-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.full-left {
  display: flex !important;
  align-items: center !important;
  justify-content: left;
}

.full-right {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end;
}
.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.no-margin {
  margin: 0px;
}

.margin-hori-10-5{
    margin: 10px 5px;
}

.ma-l-70{
  margin-left: 70px;
}

.bg-header-images {
  background-color: #a8a8a8 !important;
}

.font-normal{
    font-size: medium;
}

.no-padding{
  padding: 0px;
}

.pd-10-l {
  padding-left: 10px;
}

.pd-10-r {
  padding-right: 10px;
}

.pd-10-t-b{
  padding: 10px 0px;
}

.shadow-box {
    margin: 5px;
    padding: 5px 10px;
    box-shadow: inset 0px 0px 9.5px -1.5px #00000069;
    border-radius: 15px;
    background-color: snow;
    color: #3e5569;
    cursor:move;
}

.position-selector{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    cursor:move;
}

.position-selector:hover {
    background-color: #48226b;
    color: white;
}

.genre-label{
    padding: 2px 10px;
    margin: 5px 0px;
    border-radius: 15px;
    color: whitesmoke;
}

.text-al-center{
  text-align: center;
}
.m-width{
  max-width: 300px;
}
.max-width-page{
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}
/*TEXT*/
.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}
.a-link-white{
  font-size: 18px;
  color: white;
  opacity: .7;
  transition: .3s ease-in-out;
}
.a-link-white:hover{
  color: white;
  opacity: 1;
}

.white-40{
  font-size: 40px;
  color: white;
}
.white-25{
  font-size: 25px;
  color: white;
}
.black-25{
  font-size: 25px;
  color: black;
}
.black-18{
  font-size: 18px;
  color: black;
}
.blu-20{
  font-size: 20px;
  color: #3B1283;
}
/*PADDINGS*/
.p-t-80{
  padding-top: 80px;
}
.p-b-60{
  padding-bottom: 60px;
}
.p-t-30{
  padding-top: 30px;
}

.p-t-20{
  padding-top: 20px;
}