body, p{
  margin: 0 !important;
}

/* You can add global styles to this file, and also import other style files */
.full-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.full-left {
  display: flex !important;
  align-items: center !important;
  justify-content: left;
}

.full-right {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end;
}
.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.flex-wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}
.no-margin {
  margin: 0px;
}

.margin-hori-10-5{
    margin: 10px 5px;
}

.ma-l-70{
  margin-left: 70px;
}

.bg-header-images {
  background-color: #a8a8a8 !important;
}

.font-normal{
    font-size: medium;
}

.no-padding{
  padding: 0px;
}

.pd-10-l {
  padding-left: 10px;
}

.pd-10-r {
  padding-right: 10px;
}

.pd-10-t-b{
  padding: 10px 0px;
}

.shadow-box {
    margin: 5px;
    padding: 5px 10px;
    box-shadow: inset 0px 0px 9.5px -1.5px #00000069;
    border-radius: 15px;
    background-color: snow;
    color: #3e5569;
    cursor:move;
}

.position-selector{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    cursor:move;
}

.position-selector:hover {
    background-color: #48226b;
    color: white;
}

.genre-label{
    padding: 2px 10px;
    margin: 5px 0px;
    border-radius: 15px;
    color: whitesmoke;
}

.text-al-center{
  text-align: center;
}
.m-width{
  max-width: 300px;
}
.max-width-page{
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}
.max-width-140{
  max-width: 140px;
  width: 100%;
  height: auto;
}
/*FOOTER*/
.footer-box{
  background: black;
  width: 100%;
  min-height: 250px;
  height: 100%;
  padding: 60px 0;
}
.white-btn{
  background: white;
  color: #3b1283;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 20px;
  transition: .3s ease-in-out;
}
/*Navbar*/
.nav-box{
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}
.navagation-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: auto;
  z-index: 2;
}
.navagation-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Buttons*/
.white-btn:hover{
  cursor: pointer;
  background: #3b1283;
  color: white;
}
.white-btn:focus{
  outline: none;
}
/*TEXT*/
.justify-text{
  text-align: justify;
  text-justify: inter-word;

}
.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}

.text-underline{
  text-decoration: underline;
}
.a-link-white{
  font-size: 18px;
  color: white;
  opacity: .7;
  transition: .3s ease-in-out;
}
.a-link-white:hover{
  color: white;
  opacity: 1;
}
.white-40{
  font-size: 40px;
  color: white;
}
.white-25{
  font-size: 25px;
  color: white;
}
.black-40{
  font-size: 40px;
  color: black;
}
.black-30{
  font-size: 30px;
  color: #000;
}
.black-25{
  font-size: 25px;
  color: black;
}
.black-18{
  font-size: 18px;
  color: black;
}
.black-16{
  font-size: 16px;
  color: black;
}
.blu-30{
  font-size: 30px;
  color: #3B1283;
}
.blu-20{
  font-size: 20px;
  color: #3B1283;
}
.blu-18{
  font-size: 18px;
  color: #3b1283;
}
.blu-16{
  font-size: 16px;
  color: #3b1283;
}
.white-25{
  font-size: 25px;
  color: white;
}

.fs-30{
  font-size: 30px;
}
/*PADDINGS*/
.p-t-120{
  padding-top: 120px;
}
.p-t-80{
  padding-top: 80px;
}
.p-t-60{
  padding-top: 60px;
}
.p-b-60{
  padding-bottom: 60px;
}
.p-t-50{
  padding-top: 50px;
}
.p-b-50{
  padding-bottom: 50px;
}
.p-t-30{
  padding-top: 30px;
}
.p-b-20{
  padding-bottom: 20px;
}
.p-t-20{
  padding-top: 20px;
}
.p-10-0{
  padding: 10px 0;
}
/*Media Queries*/
@media screen and (max-width: 1200px){
  .main-landing .background .left-background{
    width: 70%;
  }
  .main-landing .background .right-background{
    width: 30%;
  }
}
@media screen and (max-width: 992px){
  .main-landing .background .left-background .left-triangle{
    display: none;
  }
  .main-landing .background .right-background .right-triangle{
    display: none;
  }
  .main-landing .background .right-background .phone{
    right: 0;
    left: unset;
  }
  .white-40{

    font-size: 30px;
  }
  .white-25{
    font-size: 20px;
  }
  .text-box p{
    max-width: 300px;
  }
}
@media screen and (max-width: 768px){
  .main-landing .background .left-background{
    width: 100%;
    background: linear-gradient(102.39deg, rgba(0,0,0,1) 0%, rgba(59,18,131,1) 78%, rgba(255,210,0,1) 100%);
  }
  .main-landing .background .right-background{
    width: 0%;
  }
  .main-landing .background .left-background .yellow-triangle{
    display: none;
  }
  .main-landing .background .right-background .phone{
    display: none;
  }
  .main-landing .background .text-box{
    text-align: center;
  }
  .main-landing .background .text-box p{
    margin: auto !important;
  }
  .main-landing .background {
    height: 60vh !important;
  }
  .main-landing .background-1, .main-landing .background-2, .main-landing .background-3{
    max-height: 600px !important;
  }
  .invisible-line{
    width: 100%;
    height: 1px;
    background: white;
    opacity: .5;
  }
  .footer-box .social-links div{
    display: flex;
    justify-content: center;
  }
  .white-25{
    font-size: 20px;
  }
  .fs-30{
    font-size: 25px;
  }
  .box-align-c{
    text-align: center;
  }
}
@media screen and (max-width: 576px){
  .main-landing .card-box{
    height: 190px !important;
  }
  .main-landing .card-box img{
    max-width: 80px;
    width: 100%;
    height: auto;
  }
  .img-350{
    max-width: 300px !important;
  }
  .black-30{
    font-size: 25px;
  }
  .black-40{
    font-size: 30px;
  }
  .blu-30{
    font-size: 25px;
  }
  
}