<div class="card">

    <!-- TITLE -->
    <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center">
        <div class="row full-width">
            <div class="col-6 full-centered full-left">
                <div class="text-white m-b-0 m-l-15 font-18"><i class="fas fa-user"></i>
                    Proveedor -
                    <span *ngIf="provider.active == true">Activado</span>
                    <span *ngIf="provider.active == false">Inactivo</span>
                </div>
            </div>
            <div class="col-6 full-right">
                <button type="button" class=" btn mr-0 btn-outline-primary-inverted" aria-label="Eliminar"
                    (click)="openModalConfirmDeleteProvider()">
                    <!-- <span aria-hidden="true">&times;</span> -->
                    <!-- <i class="fas fa-trash"></i> -->
                    <i class="fas fa-exclamation-triangle  ma-0-10"></i>
                    <span *ngIf="provider.active == true">Suspender</span>
                    <span *ngIf="provider.active == false">Activar</span>
                     Proveedor
                </button>
            </div>
        </div>
        <!-- <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-user"></i>
            Cliente
        </div> -->

    </div>
    <div class="">
        <div class="card-body row">
            <div class="col-12">
                <div class=" p-t-0 p-r-0">
                    <div class=" p-r-15" style="position: relative;">
                        <!-- ITEMS -->
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Nombre de la empresa/Razón social
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.businessName" type="text"  required
                                        class="form-control" id="idraz"
                                        placeholder="Nombre de la empresa/ Razón social">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> RFC
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.rfc" type="text" required
                                        class="form-control" id="idrfc" placeholder="RFC">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Teléfono
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.phoneBilling" matInput mask="000-000-0000"  required type="text"
                                        class="form-control" id="idtel3" placeholder="Numero de teléfono">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Correo Electrónico
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.emailBilling" type="text" required
                                        class="form-control" id="inemal2"
                                        placeholder="Escriba el correo electrónico de la empresa">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Estado
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.state" type="text" required
                                        class="form-control" id="inedo2" placeholder="Escriba el estado">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Ciudad
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.city" type="text" required
                                        class="form-control" id="incity2" placeholder="Escriba la ciudad aquí">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Código postal
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.postalCode" type="text" required
                                        class="form-control" id="incod2" placeholder="Escriba el código postal aquí">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Colonia
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.colony" type="text" required
                                        class="form-control" id="incol2" placeholder="Escriba la colonia aqui">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Numero
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.number" type="text" required
                                        class="form-control" id="innumber" placeholder="Escriba el numero aquí">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label form-label">
                                        <span style="color: red;">*</span> Calle
                                    </label>
                                    <input [(ngModel)]="provider.billingInformation.street" type="text" required
                                        class="form-control" id="instreet" placeholder="Escriba la dirección aquí">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 full-left">
                    <!-- <button (click)="backClicked()" class="btn mr-0 btn-outline-secondary button-options"
                        type="button">
                        <div class="row full-centered">
                            <i class="fas fa-window-close "></i>
                        </div>
                        <div class="row full-centered font-normal">
                            Cancelar
                        </div>
                    </button> -->
                </div>
                <div class="col-6 full-right">
                    <button (click)="saveProviderBilling()" class="btn mr-0 btn-outline-primary button-options" type="button">
                        <div class="row full-centered">
                            <i class="fas fa-save"></i>
                        </div>
                        <div class="row full-centered font-normal">
                            Guardar
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- TITLE -->
        <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center">
            <div class="row full-width">
                <div class="col-6 full-centered full-left">
                    <div class="text-white m-b-0 m-l-15 font-18"><i class="fas fa-user"></i>
                        Datos de Contacto del proveedor
                    </div>
                </div>
                <div class="col-6 full-right">
                    <!-- <button type="button" class=" btn mr-0 button-delete-client" aria-label="Eliminar" (click)="openModalConfirmDeleteDirection()">
                    
                    <i class="fas fa-trash"></i>
                    Eliminar Proveedor
                </button> -->
                </div>
            </div>
            <!-- <div class="text-white m-b-0 m-l-15 font-18">
            <i class="fas fa-user"></i>
            Cliente
        </div> -->

        </div>
        <div class="">
            <div class="card-body row">
                <div class="col-12">
                    <div class=" p-t-0 p-r-0">
                        <div class=" p-r-15" style="position: relative;">
                            <!-- ITEMS -->
                            <div class="">
                                <!-- <h4 class="card-title">Requirements</h4> -->
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Nombre
                                            </label>
                                            <input [(ngModel)]="provider.name" type="text" class="form-control" required
                                                id="idnom" placeholder="Escriba su nombre aqui">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Apellidos
                                            </label>
                                            <input [(ngModel)]="provider.surnames" type="text" class="form-control" required
                                                id="insur" placeholder="Escriba sus apellidos aquí">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Correo Electrónico
                                            </label>
                                            <input [(ngModel)]="provider.email" type="text" class="form-control" required
                                                id="inele" placeholder="Escriba un email valido aquí">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Fecha de nacimiento
                                            </label>
                                            <!--  <input [(ngModel)]="provider.birthDay"  type="date" class="form-control" >
                                        <input [(ngModel)]="customeBirthDay" (change)="setBirthDay()" type="date" id="infech" class="form-control"> -->
                                            <div class="input-group">
                                                <input [(ngModel)]="modelCustomerBirthDay" id="dateOfBirth"
                                                    class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                                    ngbDatepicker #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="dp.toggle();"
                                                        type="button"><i class="fa fa-calendar"></i></button>
                                                </div>
                                            </div>
                                            <!-- <pre>Model: {{ modelCustomerBirthDay | json }}</pre> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Teléfono
                                            </label>
                                            <input [(ngModel)]="provider.phone" matInput mask="000-000-0000"  type="text" class="form-control" required
                                                id="inputcom" placeholder="Company Here">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <!-- <span style="color: red;">*</span>  -->Genero
                                            </label>
                                            <div ngbDropdown class="">
                                                <button class="form-control" id="dropdownGenre" ngbDropdownToggle>
                                                    <span *ngIf="provider.gender == 3">Niña</span>
                                                    <span *ngIf="provider.gender == 2">Niño</span>
                                                    <span *ngIf="provider.gender == 1">Mujer</span>
                                                    <span *ngIf="provider.gender == 0">Hombre</span>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownGenre">
                                                    <button ngbDropdownItem (click)="provider.gender = 3">Niña</button>
                                                    <button ngbDropdownItem (click)="provider.gender = 2">Niño</button>
                                                    <button ngbDropdownItem (click)="provider.gender = 1">Mujer</button>
                                                    <button ngbDropdownItem (click)="provider.gender = 0">Hombre</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <!-- <span style="color: red;">*</span>  -->Grupo de usuarios
                                            </label>
                                            <div ngbDropdown class="">
                                                <button class="form-control" id="dropdownUserType" ngbDropdownToggle>
                                                    <span *ngIf="provider.userType == 2">Cliente</span>
                                                    <span *ngIf="provider.userType == 1">Proveedor</span><!-- 
                                                    <span *ngIf="provider.userType == 0">Administrador</span> -->
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownUserType">
                                                    <button ngbDropdownItem
                                                        (click)="provider.userType = 2">Cliente</button>
                                                    <button ngbDropdownItem
                                                        (click)="provider.userType = 1">Proveedor</button>
                                                    <!-- <button ngbDropdownItem
                                                        (click)="provider.userType = 0">Administrador</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label form-label">
                                                <span style="color: red;">*</span> Restablecer la Contraseña
                                            </label>
                                            <button (click)="openModalResetPassword()" class="btn mr-0 btn-danger button-reset " type="button">
                                                <div class="row full-centered font-normal">
                                                    <i class="fas fa-key ma-0-10"></i> RESTABLECER
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-6 full-left">
                        <!-- <button (click)="backClicked()" class="btn mr-0 btn-outline-secondary button-options"
                            type="button">
                            <div class="row full-centered">
                                <i class="fas fa-window-close "></i>
                            </div>
                            <div class="row full-centered font-normal">
                                Cancelar
                            </div>
                        </button> -->
                    </div>
                    <div class="col-6 full-right">
                        <button (click)="saveProviderInformation()" class="btn mr-0 btn-outline-primary button-options" type="button">
                            <div class="row full-centered">
                                <i class="fas fa-save"></i>
                            </div>
                            <div class="row full-centered font-normal">
                                Guardar
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-l-20 p-r-25 p-t-10 p-b-10 bg-header-images d-flex align-items-center">
                <div class="text-white m-b-0 m-l-15 font-18">
                    <i class="fas fa-home"></i>
                    Dirección de envíos
                    <!-- <span class="no-margin genre-label margin-hori-10-5"
                style=" background-color: #230031;  margin-bottom: 5px; border-color: #3f0058; " >
            2</span> -->
                </div>
            </div>
            <div class="">
                <!-- <hr class="m-t-0" /> -->
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Nombre
                                </label>
                                <input [(ngModel)]="provider.directions[0].name" type="text" class="form-control" required
                                    id="idnamem" placeholder="Nombre de la persona que recibe">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Apellidos
                                </label>
                                <input [(ngModel)]="provider.directions[0].surnames" type="text" class="form-control" required
                                    id="idsurm" placeholder="Escriba sus apellidos">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Calle
                                </label>
                                <textarea [(ngModel)]="provider.directions[0].street" type="text" class="form-control" required
                                    id="iddirm" placeholder="Escriba la calle aquí"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Teléfono
                                </label>
                                <input [(ngModel)]="provider.directions[0].phone" matInput mask="000-000-0000"  type="text" class="form-control" required
                                    id="idtelm" placeholder="Escriba su teléfono">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> No Interior
                                </label>
                                <input [(ngModel)]="provider.directions[0].number" type="text" class="form-control" required
                                    id="idintm" placeholder="Numero interior">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <!-- <span style="color: red;">*</span>  -->No Exterior
                                </label>
                                <input [(ngModel)]="provider.directions[0].extNumber" type="text" class="form-control" required
                                    id="idnoem" placeholder="Numero exterior">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Estado
                                </label>
                                <input [(ngModel)]="provider.directions[0].state" type="text" class="form-control" required
                                    id="idestm" placeholder="Escriba el estado">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Ciudad
                                </label>
                                <input [(ngModel)]="provider.directions[0].city" type="text" class="form-control" required
                                    id="idcium" placeholder="Escriba la ciudad">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Colonia
                                </label>
                                <input [(ngModel)]="provider.directions[0].colony" type="text" class="form-control" required
                                    id="idcolm" placeholder="Nombre de la colonia">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="control-label form-label">
                                    <span style="color: red;">*</span> Código postal
                                </label>
                                <input [(ngModel)]="provider.directions[0].postalCode" type="text" class="form-control" required
                                    id="idcodm" placeholder="Ingrese el código postal">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">Default</label>
                        <div class="form-check">
                            <div class="custom-control custom-radio" (click)="selectedDirection.default = true;">
                                <input [(checked)]="selectedDirection.default" type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                                <label class="custom-control-label" for="customControlValidation2">Si</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="custom-control custom-radio" (click)="selectedDirection.default = false;">
                                <input [(checked)]="!selectedDirection.default" type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked">
                                <label class="custom-control-label" for="customControlValidation3">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-6 full-left">
                        <button (click)="backClicked()" class="btn mr-0 btn-outline-secondary button-options"
                            type="button">
                            <div class="row full-centered">
                                <i class="fas fa-arrow-circle-left"></i>
                            </div>
                            <div class="row full-centered font-normal">
                                Regresar
                            </div>
                        </button>
                    </div>
                    <div class="col-6 full-right">
                        <button (click)="saveDirections(0)" class="btn mr-0 btn-outline-primary button-options" type="button">
                            <div class="row full-centered">
                                <i class="fas fa-save"></i>
                            </div>
                            <div class="row full-centered font-normal">
                                Guardar
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Confirm Delete Client -->
        <ng-template #modalConfirmProviderDelete let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Confirmar Desactivar Proveedor</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="control-label form-label">
                        <span style="color: red;">El proveedor se desactivara y sus productos dejaran de estar disponibles en la tienda.</span> 
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="modal.close('Save click');" class="btn mr-0 btn-danger button-reset " type="button">
                    <div class="row full-centered font-normal">
                        <i class="fas fa-window-close ma-0-10"></i> Cancelar
                    </div>
                </button>
                <button (click)="desactiveProvider()" class="btn mr-0 btn-success button-reset " type="button">
                    <div class="row full-centered font-normal">
                        <!-- <i class="fas fa-trash ma-0-10"></i>  -->
                        <span *ngIf="provider.active == true">Desactivar</span>
                        <span *ngIf="provider.active == false">Activar</span>
                    </div>
                </button>
                <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
            </div>
        </ng-template>

        <!-- Modal Confirm Reset Password Client -->
        <ng-template #modalResetPasswordUser let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">¿Cambiar Contraseña?</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="control-label form-label">
                        <span style="color: red;">La contraseña se cambiara a una auto generada, se enviara un email al cliente con la nueva contraseña.</span> 
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="modal.close('Save click');" class="btn mr-0 btn-danger button-reset " type="button">
                    <div class="row full-centered font-normal">
                        <i class="fas fa-window-close ma-0-10"></i> Cancelar
                    </div>
                </button>
                <button (click)="changePassword()" class="btn mr-0 btn-success button-reset " type="button">
                    <div class="row full-centered font-normal">
                        <i class="fas fa-exclamation-triangle ma-0-10"></i>Aceptar
                    </div>
                </button>
                <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
            </div>
        </ng-template>